body{
	background-color: black;
}
.square{
	width: 30%;
	float: left;
	padding-bottom: 30%;
	background-color: pink;
	margin: 1.66%;

}
.container{
	margin:0 auto;
	max-width: 600px;
}
h1{
	color:white;
}